@import "primeicons/primeicons.css";
@import "tailwindcss";
@plugin "tailwindcss-primeui";

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Estilos customizados para o PrimeNG */
.p-component {
    font-family: inherit;
}